/*
Theme Name: Temp Full Metal Theme
Theme URI: http://www.fullmetalworkshop.com
Author: TidyThemes
Author URI: http://www.fullmetalworkshop.com
Description: Full Metal Workshop Wordpress Theme
Version: 1.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: black, blue, white, light, one-column, flexible-width, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}

$opensans: 'Open Sans Condensed', sans-serif;
$proxima: "proxima-nova";
$roboto:'Oswald', sans-serif;

*{
	box-sizing: border-box;
}
body{
	background-color: black;
}
a{
	text-decoration: none;
}
p{
	font-family: $proxima;
}
h1, h2, h3, h4, h5, h6{
	font-family: $roboto;
	margin-bottom:10px;
	text-transform: uppercase;
}
h1{
	font-size: 6em;
	line-height: 1.1em;
}
h2{
	font-size: 3em;
	line-height: 1.3em;
}
h3{
	font-size: 1.8em;
}
h4{
	font-size: 1.4em;
}
h5{
	font-size: 1em;
}
h6{
	font-size: .8em;
}
.black_background{
	display: inline-block;
	padding:15px 25px 15px;
	background-color: rgb(40,40,40);
	color: white;
	font-family: $roboto;
	font-weight: 900;
	font-size: 13pt;
	text-transform: uppercase;
}
.centered_bg{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.background_cover{
	position:absolute;
	top:0; 
	height:100%; 
	width:100%; 
	background-color:rgb(0,0,0); 
	opacity:.4; 
}
.background_video{
	width:100vw;
	height:100vh;
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow: hidden;
}
.background_video .background_cover{
	opacity: .7;
}
#video_background{
  position: absolute;
  top: 50%; 
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -1000; 
  overflow: hidden;
}
.homepage_content_holder{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100vw;
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}
.homepage_content{
	color: white;
	width: 60%;
	margin:0 auto;
	text-align: center;
	font-family: $roboto;
	text-transform: uppercase;
}
.homepage_content h2{
	font-weight: 900;
}
.home #content{
	padding-top:100vh;
}
#wrapper{
	position: relative;
	z-index: 2;
}
.video_toggle{
	font-family:arial;
	height:40px;
	width:40px;
	cursor:pointer;
	position: absolute;
	left:30px;
	bottom:70px;
	z-index: 3;
}
.toggle_icon{
	position: absolute;
	width:100%;
	height:100%;
	display: none;
}
.toggle_icon img{
	width: 100%;
	height:auto;
}
.toggle_icon.on{
	display: block;
}
header#header{
	top:0;
	left:0;
	right:auto;
	bottom:auto;
	position:fixed;
	text-align: right;
	width: 100vw;
	z-index: 1;
}
nav#menu{
	padding:10px 10px 0 0;
	display: none;
}
nav#menu ul li{
	display: block;
	padding:5px 10px;
	text-align: right;
	font-family: $proxima;
	font-weight: 700;
}
nav#menu ul li a{
	color: white;
	text-transform: uppercase;
}
.logo_text{
	width: auto;
	height:100vh;
	opacity: .1;
	text-align: left;
}
.logo_text img{
	width: auto;
	height:100%;
}

/*---------INDEX-------------*/


/*---------CONTENT------------*/

.inner_content{
	width: 60%;
	max-width: 850px;
	margin:0 auto;
	color: white;
	font-family: $opensans;
	position: relative;
	z-index: 2;
}
.max_width_content{
	width: 100vw;
}
.inner_content p{
	line-height: 1.8em;
	padding-bottom:25px;
}
.inner_content .blog_post p{
	padding-bottom:0;
}
.post_box{
	text-align: center;
	height:100vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	//border-top:1px solid rgba(255,255,255,.2);
}
.post_box_image{
	height:100vh;
	width:100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
}
.post_box .post_box_container{
	height:100%;
	width: 100%;
	position:fixed;
	display: flex;
	align-items: center;
	opacity: 0;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 1;
}
.post_box_content{
	display: flex;
	align-items: top;
}
.post_box_excerpt{
	text-align: center;
}
.post_box_excerpt a{
	margin-top:30px;
}
.post_box_excerpt h1{
	font-family: $roboto;
	font-weight: 900;
	margin-bottom:30px;
}
.post_box_excerpt p{
	padding:0;
}
.post_box:first-child{
	border:none;
}

/*---------FOOTER------------*/

footer#footer{
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	top:auto;
	z-index: 3;
}
.logo{
	width:200px;
	height:auto;
	opacity: 1;
	position:absolute;
	right:0;
	left:auto;
	bottom:0px;
	top:auto;
}
.logo img{
	width:100%;
}
.mail_icon{
	width: 40px;
	height:40px;
	position: fixed;
	bottom:20px;
	top:auto;
	right:auto;
	left:30px;
	z-index: 3;
}
.mail_icon img{
	width: 100%;
	height:auto;
}
.scroll_down{
	text-align: center;
	padding-bottom:30px;
	display: none;
}
.scroll_down p{
	font-size: 15pt;
	text-transform: uppercase;
	color: white;
	font-family: $roboto;
	font-weight: 900;
}
.scroll_image{
	width: 20px;
	height:auto;
	margin:10px auto;
}
.scroll_image img{
	width:100%;
	height:auto;
}

@media (max-width: 980px){
	h1{
		font-size: 4em;
	}
	.inner_content{
		width: 65%;
		margin: 0 0 0 10%;
	}
	.post_box_excerpt{
		text-align: left;
	}
	.logo{
		width: 25%;
	}
}


@media (max-width: 650px){
	h1{
		font-size: 3em;
	}
	.homepage_content_holder{
		align-items: flex-start;
		padding-top:50px;
	}
	.homepage_content{
		width: 80%;
		text-align: left;
	}
	.homepage_content h2{
		font-size: 2em;
		line-height: 1.3em;
	}
	.inner_content{
		width: 80%;
		margin: 0 auto;
	}
	.post_box .post_box_container{
		align-items: flex-start;
		padding-top:50px;
	}
	header#header{
		top:auto;
		bottom:0;
	}
	.logo_text{
		width: 100vw;
		height:auto;
	}
	.logo_text img{
		width: 100%;
		height:auto;
	}
	.post_box_excerpt h1{
		font-size: 2em;
		line-height: 1.3em;
		margin-bottom:15px;
	}
}