.article_content {
	ol {
	  counter-reset: fmw-counter;
	  list-style: none;
	  padding-left: 0;
		li {
			margin: 0 0 0.5rem 0;
		  counter-increment: fmw-counter;
		  position: relative;
			padding-left: 2rem;
			&::before {
				content: counter(fmw-counter) ".";
			  color: rgb(90,90,90);
			  font-size: 1.2rem;
			  font-weight: bold;
			  position: absolute;
			  top: 0;
				left: 0;
			  text-align: center;
				line-height: 1.75;
			}
		}
	}
	ul {
		list-style-type: disc;
		padding-left: 2rem;
	}
	ol, ul {
		li {
			font-weight: 400;
			line-height: 2;
			margin-bottom: 1.5rem;
		}
	}
	.wp-block-code {
		background-color: rgb(240,240,240);
		padding: 1.5rem;
		border: 1px solid rgb(90,90,90);
		margin-bottom: 1.5rem;
		position: relative;
		code {
			line-height: 1.5;
			font-family: courier;
			width: 100%;
			display: block;
			overflow: auto;
		}
	}
}
