/*
Theme Name: Temp Full Metal Theme
Theme URI: http://www.fullmetalworkshop.com
Author: TidyThemes
Author URI: http://www.fullmetalworkshop.com
Description: Full Metal Workshop Wordpress Theme
Version: 1.0.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: black, blue, white, light, one-column, flexible-width, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
Text Domain: blankslate
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}

// $opensans: 'Open Sans Condensed', sans-serif;
// $proxima: "proxima-nova";
// $roboto:'Oswald', sans-serif;

html {
	margin-top: 0!important;
}
$ibm: 'IBM Plex Sans', sans-serif;

*{
	box-sizing: border-box;
}
body.home{
	background-color: black;
}
body:not(.home) {
	.logo {
		@include for-size(lg-down) {
			display: none;
			opacity: .25;
		}
		@include for-size(sm-md-down) {
			display: block;
		}
	}
}
a {
	text-decoration: none;
	color: black;
	font-family: $ibm;
}
strong {
	font-weight: 600;
}
em {
	font-style: italic;
}
p {
	font-family: $ibm;
  font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $ibm;
	margin-bottom:10px;
  font-weight: 100;
	text-transform: uppercase;
}
h3, h4, h5, h6 {
	font-weight: 300;
}
h1{
	font-size: 6em;
	line-height: 1.1em;
	@include for-size(lg-down) {
		font-size: 3em;
	}
	@include for-size(sm-md-down) {
		font-size: 2em;
	}
}
h2{
	font-size: 3em;
	line-height: 1.3em;
}
h3{
	font-size: 1.8em;
}
h4{
	font-size: 1.4em;
	@include for-size(sm-md-down) {
		font-size: 1.2em;
	}
}
h5{
	font-size: 1em;
}
h6{
	font-size: .8em;
}
.black-background{
	display: inline-block;
	padding:15px 25px 15px;
	background-color: rgb(40,40,40);
	color: white;
	font-family: $ibm;
	font-weight: 700;
	font-size: 13pt;
	text-transform: uppercase;
}
.centered-bg{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.background-video{
	width:100vw;
	height:100vh;
	position: fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	overflow: hidden;
  .background-cover {
    opacity: .7;
  }
}

#toggle-menu {
  width: 52px;
  height: 52px;
  position: fixed;
  z-index: 1002;
  top: 0rem;
  right: 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
	cursor: pointer;
	@include for-size(md) {
		top: 1rem;
		right: 1rem;
	}
  .toggle-line {
    width: 50%;
    height: 2px;
    background-color: white;
    opacity: 1;
		transition: opacity .2s linear;
  }
  &::before, &::after {
    content:'';
    width: 50%;
    height: 2px;
    position: absolute;
    left: 25%;
    top: calc(50% - 1px);
		background-color: white;
  }
  &::before {
		transform: translateY(-7px);
    animation-name: togglemenutopback;
  }
  &::after {
		transform: translateY(7px);
    animation-name: togglemenubottomback;
  }
}
body.menu-inactive #toggle-menu{
  &::before, &::after {
    animation-duration: .35s;
  }
}
body.menu-active #toggle-menu {
  .toggle-line {
    opacity: 0;
  }
  &::before, &::after {
    animation-duration: .35s;
  }
  &::before {
    animation-name: togglemenutop;
    animation-fill-mode: forwards;
  }
  &::after {
    animation-name: togglemenubottom;
    animation-fill-mode: forwards;
  }
}

body:not(.home) {
	#toggle-menu {
	  .toggle-line {
	    background-color: black;
	  }
	  &::before, &::after {
			background-color: black;
		}
	}
}

#menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: black;
	z-index: 1000;
	pointer-events: none;
	transform: translateX(-100%);
	transition: transform .2s ease-in-out;
	.main-navigation, .menu-header-menu-container {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	.menu-header-menu-container {
		display: flex;
		justify-content: center;
		align-items: center;
		ul {
			display: flex;
			flex-direction: column;
			li {
				text-align: center;
				padding: 1rem 0;
				a {
					color: white;
					text-transform: uppercase;
					font-weight: 600;
					letter-spacing: .1rem;
					@include for-size(md) {
						font-size: 2rem;
					}
				}
			}
		}
	}
}

body.menu-active {
	#menu-overlay {
		transform: translateX(0);
		pointer-events: auto;
	}
	#toggle-menu {
	  .toggle-line {
	    background-color: white;
	  }
	  &::before, &::after {
			background-color: white;
		}
	}
}

#video-background{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
.homepage-content-holder{
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	width:100vw;
	height:100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	@include for-size(sm-md-down) {
		//align-items: flex-start;
		// padding-top:150px;
	}
}
.homepage-content{
	color: white;
	width: 60%;
	min-width: 750px;
	margin:0 auto;
	text-align: center;
	font-family: $ibm;
	text-transform: uppercase;
	@include for-size(lg-down) {
		min-width: auto;
		width: 80%;
	}
	@include for-size(sm-md-down) {
		width: 80%;
		text-align: left;
	}
	h2 {
		font-size: 1.5rem;
		line-height: 1.3;
		font-weight: 400;
		text-transform: none;
		@include for-size(md) {
			font-weight: 200;
			font-size: 2em;
		}
		@include for-size(lg) {
			font-size: 3em;
		}
	}
}

#wrapper{
	position: relative;
	z-index: 2;
}
.video-toggle{
	font-family:arial;
	height:40px;
	width:40px;
	cursor:pointer;
	position: absolute;
	left:30px;
	bottom:100px;
	z-index: 3;
	@include for-size(sm-md-down) {
		bottom: 135px;
	}
}
.toggle-icon{
	position: absolute;
	width:100%;
	height:100%;
	display: none;
  &.on {
    display: block;
  }
  img {
    width: 100%;
  	height:auto;
  }
}

header#header{
	top:0;
	left:0;
	right:auto;
	bottom:auto;
	position:fixed;
	text-align: right;
	width: 100vw;
	z-index: 1;
	#logo {
		height: auto;
		position: absolute;
		top: 1rem;
		left: 1rem;
		width: 150px;
		@include for-size(md) {
			width: 200px;
			top: 2rem;
			left: 2rem;
		}
	}
  nav#menu {
    padding:10px 10px 0 0;
  	display: none;
    ul li{
    	display: block;
    	padding:5px 10px;
    	text-align: right;
    	font-family: $ibm;
    	font-weight: 700;
      a {
        color: white;
      	text-transform: uppercase;
      }
    }
  }
}

body.home {
	header#header {
		#logo {
			svg {
				path {
					fill: white;
				}
			}
		}
	}
}
.logo-text{
	width: auto;
	height: calc(100vh - 40px);
	opacity: .1;
	text-align: left;
  pointer-events: none;
  position: fixed;
  bottom: 40px;
	left: 0;
	@include for-size(sm-md-down) {
		display: none;
		width: 100vw;
		height:auto;
		bottom: 75px;
	}
  img {
    width: auto;
  	height:100%;
		@include for-size(sm-md-down) {
			width: 100%;
  		height:auto;
		}
  }
}

/*--------------------------*\
	CONTENT
\*--------------------------*/

.inner-content{
	width: 100%;
	max-width: 750px;
	margin:0 auto;
	color: white;
	font-family: $ibm;
  font-weight: 200;
	position: relative;
	z-index: 2;
	&.large {
		max-width: 950px;
	}
	@include for-size(lg-down) {
		width: 85%;
		margin: 0 0 0 10%;
	}
	@include for-size(sm-md-down) {
		width: 90%;
		margin: 0 auto;
	}
  p {
    line-height: 1.8em;
  	padding-bottom:25px;
  }
  .blog-post p {
  	padding-bottom:0;
  }
}
.max-width-content{
	width: 100vw;
}
.inner-content p{

}
.post-box {
	text-align: center;
	height:100vh;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	&:not(.post-box-0) {
		// background-color: white;
	}
	//border-top:1px solid rgba(255,255,255,.2);
}
.post-box-image{
	height:100vh;
	width:100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	@include for-size(sm-md-down) {
		height: 100%;
	}
}
.background-cover {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgb(0,0,0);
	transition: opacity 2.5s linear;
	opacity: 0;
}
.project-link-container {
	@include for-size(sm-md-down) {
		display: flex;
		justify-content: center;
	}
}
.post-box {
  overflow: hidden;
  .post-box-container{
  	height:100%;
  	width: 100%;
  	position:absolute;
  	display: flex;
  	align-items: center;
  	top:0;
  	right:0;
  	bottom:0;
  	left:0;
    z-index: 2;
		@include for-size(sm-md-down) {
			position: relative;
		}
    .post-box-content {
      opacity: 0;
      transition: opacity .8s linear;
    }
  }
  &.active {
    .background-cover {
      opacity: .6;
    }
    &:not(.from-down) {
      .post-box-container {
        transition: all .6s linear;
        transform: translateY(0%);
        .post-box-content {
          opacity: 1;
        }
      }
    }
    &.from-down {
      .post-box-container {
        transform: translateY(25%);
        .post-box-content {

        }
      }
    }
  }
  .project-link {
    color: white;
    font-weight: 300;
    font-size: .9em;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 2em;
    border: 1px solid white;
    padding: 8px 16px;
    display: inline-block;
  }
}
.post-box-content{
	display: flex;
	align-items: top;
}
.post-box-excerpt{
	text-align: center;
	@include for-size(lg-down){
		text-align: left;
	}
  a {
    margin-top: 30px;
  }
	.post-box-logo {
		height: 45px;
		width: auto;
		position: relative;
		margin-bottom: 1.5rem;
		text-align: center;
		@include for-size(md) {
			height: 65px;
		}
		img {
			height: 100%!important;
			width: auto!important;
		}
	}
  h2{
  	margin-bottom:30px;
    font-size: 3em;
		text-align: center;
		color: white!important;
		@include for-size(sm-md-down) {
			font-size: 1.5em;
			line-height: 1.3em;
			margin-bottom:15px;
		}
  }
	h3 {
		font-weight: 500;
	}
  p {
  	padding:0;
    font-size: 1.2em;
		color: white!important;
		@include for-size(sm-md-down) {
			font-weight: 200;
			line-height: 1.6em;
		}
  }
}
.post-box:first-child{
	border:none;
}

/*--------------------------*\
	BLOG
\*--------------------------*/

.blog-items {
	padding: 8rem 0;
	display: flex;
	flex-wrap: wrap;
	.post-item {
		width: 100%;
		@include for-size(md) {
			width: 50%;
		}
		@include for-size(lg) {
			width: calc(100% / 3);
		}
		.post-cats {
			display: flex;
			margin-bottom: .5rem;
			.post-cat {
				padding: .1rem .5rem .25rem;
				margin-right: .5rem;
				display: block;
				border: none;
				border-bottom: 3px solid;
				background: rgb(0,0,0);
				span {
					font-weight: 500;
					text-transform: uppercase;
					font-size: .8rem;
				}
			}
		}
		.post-item-inner {
			position: relative;
			padding: 1rem;
			.post-item-image {
				width: 100%;
				height: 0;
				padding-bottom: 75%;
				display: block;
			}
			.post-item-content {
				top: -1.5rem;
				display: block;
				position: relative;
				.post-item-title {
					text-transform: none;
					font-weight: 500;
					font-size: 1.3rem;
					line-height: 2rem;
					display: inline;
					padding: 4px;
					padding-left: 6px;
					padding-right: 3px;
					margin: 0 0 0 1rem;
					-webkit-box-decoration-break: clone;
					-ms-box-decoration-break: clone;
					-o-box-decoration-break: clone;
					box-decoration-break: clone;
					box-shadow: 4px 0 0 #000000, 4px 0 0 #000000;
					background-color: black;
					a {
						color: white;
					}
				}
				.post-item-excerpt {
					color: black;
					margin-top: .5rem;
					p {
						font-weight: 500;
					}
				}
			}
		}
	}
}

/*--------------------------*\
	SINGLE
\*--------------------------*/

.single, .page-template-default {
	h2 {
		font-size: 1.2rem;
		font-weight: 400;
		margin-bottom: 1.5rem;
		margin-top: 2rem;
		@include for-size(md) {
			font-size: 2rem;
		}
	}
	.logo-text {
		opacity: .05;
	}
	.inner-content{
		color: black;
		padding-bottom: 4rem;
		.wp-block-image, img {
			width: 100%;
			height: auto;
		}
	}
	#container{
		padding: 40px 0;
	}
	.entry-title{
		color: white;
		font-size: 4vw;
		@include for-size(lg-down) {
			font-size: 3vw;
		}
	}
	.header-image-container{
		position: relative;
		background-color: white;
		margin-bottom: 4em;
		.header-image-sizer{
			width: 100%;
			height:0;
			padding-bottom:60%;
		}
		.header-image{
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
		}
		.header-image-content{
			width: 80%;
			height:auto;
			position: absolute;
			bottom: 0;
			transform: translateY(20px);
			left: 25px;
			@include for-size(sm-md-down) {
				left: 15px;
			}
			.entry-title{
				font-size: 2.5rem;
				line-height: 3rem;
				display: inline;
				padding: 4px;
				padding-left: 0;
				padding-right: 0;
				margin: 0;
				-webkit-box-decoration-break: clone;
				-ms-box-decoration-break: clone;
				-o-box-decoration-break: clone;
				box-decoration-break: clone;
				box-shadow: 4px 0 0 #000000, 4px 0 0 #000000;
				background-color: black;
				@include for-size(sm-md-down) {
					font-size: 2em;
				}
			}
		}
	}
	.article-content{
		padding: 30px 0;
		a{
			font-weight: 600;
			color: black;
		}
	}
	.episodes{
		@include for-size(sm-md-down) {
			padding-bottom: 5em;
		}
		.episode{
			display: flex;
			margin-bottom:40px;
			@include for-size(sm-md-down) {
				flex-direction: column;
			}
			.episode-image{
				flex-shrink: 0;
				width: 150px;
				height: auto;
				@include for-size(sm-md-down) {
					width: 100%;
					margin-bottom: 2em;
				}
				img{
					width: 100%;
					height:auto;
				}
			}
			.episode-info{
				padding-left:30px;
				@include for-size(sm-md-down) {
					padding: 0;
				}
				h3{
					line-height: 1.3em;
				}
				a{
					color: black;
					font-weight: 600;
					padding-right: 10px;
					margin-right:5px;
					position: relative;
					&:not(:last-of-type):after{
						content:'';
						position: absolute;
						right:0;
						top:0;
						height:20px;
						border-right:1px solid black;

					}
				}
			}
		}
		@include for-size(sm-md-down) {
			h3 {
				font-size: 1.4em;
			}
		}
	}
	.post-nav {
		margin-top: 2rem;
		display: flex;
		justify-content: space-between;
		a {
			p {
				font-weight: 600;
				margin-bottom: 0;
				padding-bottom: 0;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					top: 50%;
					left: -15px;
					transform: translateY(-50%) rotate(135deg);
					width: 5px;
					height: 5px;
					border-right: 2px solid black;
					border-bottom: 2px solid black;
				}
			}
			&.post-nav-next p::before {
				left: auto;
				right: -15px;
				transform: translateY(-50%) rotate(-45deg);
			}
			span {
				text-transform: uppercase;
				font-weight: 400;
				font-size: .8rem;
			}
		}
	}
}

.home {
	#container {
		padding: 0!important;
	}
}

/*--------------------------*\
	FOUNDERS
\*--------------------------*/

#founders-container {
	@include for-size(md) {
		display: flex;
		width: 100vw;
		height: 100vh;
	}
	.founder-wrapper {
		flex: 1;
		@include for-size(md) {
			height: 100vh;
			position: relative;
		}
		.founder-container {
			position: relative;
			padding: 10rem 1rem 2rem;
			min-height: 75vh;
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
			@include for-size(md) {
				min-height: 100vh;
				padding: 2rem;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding-left: 1rem;
			}
			background-color: black;
			.founder-background {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				opacity: .7;
				transition: opacity .3s linear;
				@include for-size(md) {
					opacity: 1;
				}
			}
			.founder-content {
				position: relative;
				color: white;
				text-align: right;
				@include for-size(md) {
					text-align: left;
					opacity: 0;
					transform: translateY(2rem);
					transition: all .3s linear;
				}
				h2 {
					font-weight: 400;
					font-size: 2rem;
				}
				h3 {
					font-weight: 400;
					font-size: 1rem;
				}
				a {
					color: white;
					text-transform: uppercase;
					font-weight: 500;
					padding: .5rem 1rem;
					margin-top: 1rem;
					display: inline-block;
					font-size: .9rem;
					border: 2px solid black;
					background-color: black;
					@include for-size(md) {
						transition: all .1s linear;
						&:hover {
							border-color: white;
							background-color: transparent;
						}
					}
				}
			}
		}
		&:hover {
			.founder-content {
				opacity: 1;
				transform: translateY(0);
			}
			@include for-size(md) {
				.founder-background {
					opacity: .7;
				}
			}
		}
		&:last-of-type {
			.founder-container {
				@include for-size(md-down) {
					padding-bottom: 6rem;
				}
			}
		}
	}
}

/*--------------------------*\
	EMAIL SIGNUP
\*--------------------------*/

#mc-embed-signup{
	position: fixed;
	bottom:0;
	left:0;
	background-color: black;
	width: 100%;
	z-index: 999;
	display: flex;
	justify-content: center;
	padding: 5px 15px;
	align-items: center;
	@include for-size(sm-md-down) {
		flex-direction: column;
	}
	form{
		max-width: 100%;
	}
	#mc-embed-signup-scroll{
		display: flex;
		align-items: center;
		margin-left: 10px;
		.email{
			width: 100%;
			border:none;
			outline:none;
			padding: 5px 15px;
			font-size: 16px;
			background-color: transparent;
			border-bottom:2px solid white;
			font-weight:200;
			color: white;
			-webkit-appearance: none;
			border-radius: 0;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: rgba(255,255,255,.8);
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: rgba(255,255,255,.8);
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: rgba(255,255,255,.8);
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: rgba(255,255,255,.8);
			}
		}
		#mc-embedded-subscribe{
			border: none;
			background-color: transparent;
			color: white;
			font-size: 16px;
			cursor: pointer;
			&:focus{
				outline:none;
			}
		}
	}
	h4{
		color: white;
		margin:0;
		white-space: nowrap;
		text-transform: none;
		font-weight: 300;
		@include for-size(sm-md-down) {
			padding: 8px 0;
		}
	}
}

/*---------FOOTER------------*/

footer#footer{
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	top:auto;
	z-index: 3;
}
.logo{
	width:200px;
	height:auto;
	opacity: 1;
	position:fixed;
	right:0;
	left:auto;
	bottom:40px;
	top:auto;
	@include for-size(lg-down) {
		opacity: .3;
		width: 25%;
	}
	@include for-size(sm-md-down) {
		bottom: 75px;
		height: 70vh;
		width: auto;
		opacity: .2;
		display: block;
		pointer-events: none;
	}
  img {
    width: 100%;
		@include for-size(sm-md-down) {
			height: 100%;
			width: auto;
		}
  }
}

.page:not(.home) {
	.logo {
		opacity: .1;
	}
}

.mail-icon{
	width: 40px;
	height: 40px;
	position: fixed;
	bottom:50px;
	top:auto;
	right:auto;
	left:30px;
	z-index: 3;
	@include for-size(sm-md-down) {
		bottom: 85px;
	}
  img{
  	width: 100%;
  	height:auto;
  }
}
.scroll-down{
	text-align: center;
	padding-bottom: 60px;
	display: none;
	@include for-size(sm-md-down) {
		padding-bottom: 75px;
	}
  p{
  	font-size: 10pt;
  	text-transform: uppercase;
  	color: white;
  	font-family: $ibm;
  	font-weight: 200;
    letter-spacing: 4px;
  }
}

.scroll-image{
	width: 12px;
	height:auto;
	margin:10px auto;
  img{
  	width:100%;
  	height:auto;
  }
}
