@mixin for-size($range) {
  $sm: 480px;
  $sm-md: 650px;
  $md: 768px;
  $lg: 980px;
  $xl: 1400px;
  $xxl: 1800px;

  @if $range == phone-only {
    @media (max-width: #{$sm - 1}) { @content; }
  } @else if $range == sm {
    @media (min-width: $sm) { @content; }
  } @else if $range == sm-md {
    @media (min-width: $sm-md) { @content; }
  } @else if $range == sm-md-down {
    @media (max-width: #{$sm-md - 1}) { @content; }
  } @else if $range == md {
    @media (min-width: $md) { @content; }
  } @else if $range == md-down {
    @media (max-width: #{$md - 1}) { @content; }
  } @else if $range == lg {
    @media (min-width: $lg) { @content; }
  } @else if $range == lg-down {
    @media (max-width: #{$lg - 1}) { @content; }
  } @else if $range == xl {
    @media (min-width: $xl) { @content; }
  } @else if $range == xxl {
    @media (min-width: $xxl) { @content; }
  }
}

@keyframes togglemenutop {
  from{
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg) translateY(0);
  }
}

@keyframes togglemenubottom {
  from{
    transform: translateY(7px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(-45deg) translateY(0);
  }
}

@keyframes togglemenutopback {
  from{
    transform: rotate(45deg) translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px);
  }
}

@keyframes togglemenubottomback {
  from{
    transform: rotate(-45deg) translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(7px);
  }
}
